<html>
 
<head>
    <title>User Regustration</title>
</head>
 
<body>
    <center>
        <table border="2">
            <tr>
                <td>
                    <form action="{{url_for('register')}}" method="POST">
                        <p> Username <input type="text" name="uname"></p>
                        <p> Password <input type="password" name="uname"></p>
                        <p>Gender</p>
                        <p><input type="radio" name="gen" value="male">Male</p>
                        <p><input type="radio" name="gen" value="female">Female</p>
                        <p>Department</p>
                        <p>
                            <select name="dept">
                                <option value="HR">HR</option>
                                <option value="Admin">Admin</option>
                                <option value="Finance">Finance</option>
                            </select>
                        </p>
                        <p><input type="submit" value="Register"></p>
                    </form>
                </td>
            </tr>
        </table>
    </center>
</body>
 
</html>